.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  background-color: #009688;
  height: 250px;
  padding: 5px;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-intro {
  font-size: large;
  margin-top: 100px;
}


.image {
  height: 200px;
  width: 300px;
}

.ScrollToTop {
  height: 75px;
}
