.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  background-color: #009688;
  height: 200px;
  padding: 20px;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-intro {
  font-size: large;
  margin-top: 100px;
}


.image {
  height: 200px;
  width: 300px;
}

.ScrollToTop {
  position: 'fixed';
  bottom: 50;
  right: 30;
  cursor: 'pointer';
  transitionDuration: '0.2s';
  transitionTimingFunction: 'linear';
  transitionDelay: '0s';
}
